doctype html
html(lang='en')
head
meta(charset="utf-8")
meta(http-equiv=X-UA-Compatible content="IE=edge")
meta(name=viewport content="width=device-width,initial-scale=1")
title='购物逻辑'
link(href="/static/css/about.8be68122.css" rel="prefetch")
link(href="/static/js/about.90319d85.js" rel="prefetch")
link(rel="preload", href="/static/css/chunk-vendors.beb31a01.css" as="style")
link(rel="preload", href="/static/css/index.f5b84389.css" as="style")
link(rel="preload", href="/static/js/chunk-vendors.a3926d52.js" as="script")
link(rel="preload", href="/static/js/index.5ca119d1.js" as="script")
link(rel="stylesheet", href="/static/css/chunk-vendors.beb31a01.css")
link(rel="stylesheet", href="/static/css/index.f5b84389.css")
body
div(id="app")
script(src="/static/js/chunk-vendors.a3926d52.js")
script(src="/static/js/index.5ca119d1.js")