doctype html
html(lang='en')
head
meta(charset="utf-8")
meta(http-equiv=X-UA-Compatible content="IE=edge")
meta(name="viewport" content="width=device-width,initial-scale=1")
title='刘赟个人网站手机端'
link(rel="preload", href="/static/css/index.2a1f5398.css" as="style")
link(rel="preload", href="/static/js/chunk-vendors.5f046e1f.js" as="script")
link(rel="preload", href="/static/js/index.8f2229a5.js" as="script")
link(rel="stylesheet", href="/static/css/index.2a1f5398.css")
body
div(id="app")
script(src="/static/js/chunk-vendors.5f046e1f.js")
script(src="/static/js/index.8f2229a5.js")