doctype html
html(lang=en)
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title='wegame'
    link(href='/static/css/index.e98c2ff3.css' rel='preload' as='style')
    link(rel="preload", href="/static/js/chunk-vendors.1bbf4ea2.js" as="script")
    link(rel="preload", href="/static/js/index.2d30b2c2.js" as="script")
    link(rel="stylesheet", href="/static/css/index.e98c2ff3.css")
    body
    div(id="app")
    script(src="/static/js/chunk-vendors.1bbf4ea2.js")
    script(src="/static/js/index.2d30b2c2.js")